.blanco{
position: relative;
width: 198px;
height: 242px;

background: white;
}

h1{
    /* CronoSpeed */


position: absolute;
width: 49px;
height: 14px;
left: 76px;
top: 163px;

font-family: 'Homenaje';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 14px;

color: #000000;
}

#icono{
position: absolute;
width: 64px;
height: 83px;
left: 67px;
top: 80px;

}

#fondo{
position: absolute;
width: 82px;
height: 82px;
left: 58px;
top: 80px;
}